h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_14de6854 a { text-decoration: none; }
#menu_14de6854_pane { background-color: #A11C1C; border: 1px solid #A11C1C; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_14de6854_hr { background-color: #A11C1C; height: 1px; border: none; }
#menu_14de6854_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_14de6854_entry:hover { background-color: #FFFDEE; color: #000000 !important; }
#menu_14de6854_entry:hover span { color:#000000 !important; }
		.menu_14de6854_mainMenuEntry { text-align: center; }
		.menu_14de6854_mainMenuEntry:hover {	background-color:#FFFDEE; }
		.menu_14de6854_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_14de6854 .mobileEntry { display: none; } 
		#menu_14de6854 .normalEntry { display: block; } 
		#menu_14de6854_menualignmentwrapper{ width:214px; left: calc(50% - 107px);  } 
body { background-color:#116161; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_68473273 { vertical-align: top; position:relative; display: inline-block; width:100%; max-width:1024px; background-color:#FFFDEE;  }
#container_68473273_padding { margin: 10px 50px 10px 50px;display: block;  }
.textstyle3 { font-size:14pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_4f34cc6e { vertical-align: top; position:relative; display: inline-block; margin:25px 0px 0px 0px;width:100%; min-height:150px; max-width:1024px; background-color:#FFFDEE;  }
#container_4f34cc6e_padding { margin: 10px 50px 10px 50px;display: block;  }
#menu_14de6854 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:75px; max-width:1024px; text-align:left; background-color:#FFFDEE;  }
#menu_14de6854_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:75px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:67px; height:75px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:24px;  }
.textstyle5 { font-size:12pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161;  white-space: nowrap; }
.menustyle3 { position:absolute; width:83px; height:75px; left:67px;  }
.menustyle4 { position:absolute; width:64px; height:75px; left:150px;  }
.textstyle6 { font-size:12pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161;  }
.textstyle8 { font-size:24pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161;  }
#img_80e4e6e { vertical-align: bottom; position:relative; display: inline-block; width:75%; min-width:275px; background:none; height:auto;  }
.textstyle9 { font-size:24pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161; font-weight:bold;  }
#container_5af44f54 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background-color:#FFFDEE;  }
#container_5af44f54_padding { margin: 10px 50px 10px 50px;display: block;  }
.textstyle10 { text-align:left; }
#anchor_7a3f4f72 { vertical-align: bottom; position:relative; display: inline-block;  }
#img_17f3bcff { vertical-align: bottom; position:relative; display: inline-block; width:75%; min-width:100px; max-width:325px; background:none; height:auto;  }
.textstyle11 { font-size:12pt; font-family:'Yuji Syuku'; color:#116161;  }
.textstyle12 { font-size:18pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161;  }
#container_1854cff9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_1854cff9_padding { margin: 10px; display: block;  }
#container_94f4ad3 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_94f4ad3_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161; font-weight:bold;  }
#img_efa682 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_4c7cc58a { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_4c7cc58a_padding { margin: 10px; display: block;  }
#heading_67580ade { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161; text-align:center;  }
#container_5c19d71c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5c19d71c_padding { margin: 10px; display: block;  }
#container_3bd38d17 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_3bd38d17_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#A11C1C; font-weight:bold;  }
#img_27fdaa10 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_2babed2f { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_2babed2f_padding { margin: 10px; display: block;  }
#heading_1383d4b1 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161; text-align:center;  }
#container_2c7116ea { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2c7116ea_padding { margin: 10px; display: block;  }
#container_2823f0b8 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_2823f0b8_padding { margin: 10px; display: block;  }
#img_3ecdb7db { vertical-align: bottom; position:relative; display: inline-block; width:75%; background:none; height:auto;  }
#container_495230ef { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_495230ef_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:18pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#A11C1C;  }
#button_5353c50c { vertical-align: bottom; position:relative; display: inline-block; width:175px; height:60px; background-color:#116161;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle16 { font-size:18pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFDEE;  }
#heading_5cc9d471 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161; text-align:center;  }
#container_3564bc16 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background-color:#FFFDEE;  }
#container_3564bc16_padding { margin: 10px 50px 10px 50px;display: block;  }
#anchor_105956d6 { vertical-align: bottom; position:relative; display: inline-block;  }
#img_38d296dd { vertical-align: bottom; position:relative; display: inline-block; width:25%; min-width:50px; max-width:325px; background:none; height:auto;  }
.textstyle17 { font-size:12pt; font-family:'Yuji Syuku'; color:#A11C1C;  }
.textstyle18 { font-size:18pt; font-family:'Yuji Syuku', 'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#116161; font-weight:bold;  }
#button_76a77c69 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px; width:300px; height:75px; background-color:#116161; border: 0px solid #116161;  }
#button_9954efc { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px; width:300px; height:75px; background-color:#A11C1C; border: 0px solid #A11C1C;  }
#img_7b158426 { vertical-align: bottom; position:relative; display: inline-block; width:10%; min-width:100px; background:none; height:auto;  }
#container_7e4f3457 { vertical-align: top; position:relative; display: inline-block; margin:20px 0px 0px 0px;width:100%; max-width:1024px; background-color:#FFFDEE;  }
#container_7e4f3457_padding { margin: 10px 50px 10px 50px;display: block;  }
#container_466424f6 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_466424f6_padding { margin: 10px; display: block;  }
#container_66981399 { vertical-align: top; position:relative; display: inline-block; width:33%; background:none;  }
#container_66981399_padding { margin: 10px; display: block;  }
#container_19da6ef5 { vertical-align: top; position:relative; display: inline-block; width:33%; background:none;  }
#container_19da6ef5_padding { margin: 10px; display: block;  }
#container_1809c9fc { vertical-align: top; position:relative; display: inline-block; width:33%; background:none;  }
#container_1809c9fc_padding { margin: 10px; display: block;  }
.textstyle19 { text-align:right; }
.textstyle20 { font-size:12pt; font-family:'Bebas Neue', Impact, Charcoal, sans-serif; color:#000000;  }
.textstyle21 { font-size:12pt; font-family:'Noto Color Emoji.Bebas Neue', Impact, Charcoal, sans-serif; color:#000000;  }
@media only screen and (max-width: 600px)
{
		#container_66981399 { width:100%;  }
		#container_19da6ef5 { width:100%;  }
		#container_1809c9fc { width:100%;  }
}
@media only screen and (max-width: 450px)
{
		#container_94f4ad3 { width:100%;  }
		#container_4c7cc58a { width:100%;  }
		#container_3bd38d17 { width:100%;  }
		#container_2babed2f { width:100%;  }
		#container_2823f0b8 { width:100%;  }
		#container_495230ef { width:100%;  }
}
